.container{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: gray;
}
.Header{
    width: 100%;
    height: 100px;
    background-color: #02213F;
    font-size: 40px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}